# app configuration (ollama)
LLM_BASE_URL=http://localhost:11434/v1
LLM_API_KEY=ollama
LLM_MODEL_NAME=llama3.2:latest
LLM_STREAMING=true # Set to false if you don't want streaming (see ai writing) responses

#OPEN ROUTER EXAMPLE
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=sk-or-v1-a4f----
LLM_MODEL_NAME=nvidia/nemotron-3-ultra-550b-a55b:free
LLM_STREAMING=true

#OPENAI EXAMPLE
LLM_BASE_URL=https://api.openai.com/v1
LLM_API_KEY=sk-your-real-key-here
LLM_MODEL_NAME=gpt-4.1-mini   # pick a model you have access to
LLM_STREAMING=true

